<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Application.Host" value="[APPLICATIONSERVER]" />
    <add key="Application.Port" value="80" />
    <add key="Application.Name" value="[APPLICATIONNAME]" />
    <add key="Application.LoginPage" value="[LOGINPAGEPATH]"/>
    <add key="Application.Protocol" value="http://"/>
    <add key="Default.Browser" value="phantomjs" />
    <add key="Default.User.Name" value="[USER]" />
    <add key="Default.User.Password" value="[PWD]"/>
  </appSettings>
</configuration>